<section id="content">
  <article id="store-preview">
    <h1>Você não perde por esperar!</h1>
    <p class="big">Em breve, bem aqui mesmo, você poderá comprar nossas delícias.</p>
    <p class="big">É ou não é uma surpresa de dar água na boca?</p>
    <p class="big">Já estamos morrendo de vontade de anunciar... mas calma lá!</p>
    <p class="big">Ainda há muito a ser feito. Aguarde ansiosamente :)</p>
  </article>
  <aside id="social" class="clearfix">
    <h1>Onde nos encontrar?</h1>
    <ul class="list">
      <!-- facebook -->
      <li class="icon facebook">
        <a href="http://facebook.com/bolinhodecopo" target="_blank">
          <img src="https://s3.amazonaws.com/bolinhodecopo-blog/img/icones/facebook.png" alt="Facebook">
        </a>
      </li>
      <!-- google+ -->
      <li class="icon google-plus">
        <a href="https://plus.google.com/b/115407635197632595818/115407635197632595818/posts" target="_blank">
          <img src="https://s3.amazonaws.com/bolinhodecopo-blog/img/icones/google-plus.png" alt="Google+">
        </a>
      </li>
      <!-- twitter -->
      <li class="icon twitter">
        <a href="http://twitter.com/bolinhodecopo" target="_blank">
          <img src="https://s3.amazonaws.com/bolinhodecopo-blog/img/icones/twitter.png" alt="Twitter">
        </a>
      </li>
      <!-- pinterest -->
      <li class="icon pinterest">
        <a href="http://pinterest.com/bolinhodecopo/" target="_blank">
          <img src="https://s3.amazonaws.com/bolinhodecopo-blog/img/icones/pinterest.png" alt="Pinterest">
        </a>
      </li>
      <!-- instagram -->
      <li class="icon instagram">
        <a href="http://instagram.com/bolinhodecopo" target="_blank">
          <img src="https://s3.amazonaws.com/bolinhodecopo-blog/img/icones/instagram.png" alt="Instagram">
        </a>
      </li>
    </ul>
  </aside>
</section>